In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
data = pd.read_excel("teste2.xlsx")

In [ ]:
data.head(20)

    num letras
0     1      a
1     2      b
2     3      c
3     4      a
4     5      b
5     6      c
6     7      a
7     8      b
8     9      c
9    10      a
10   11      b
11   12      d
12   13      e
13   14      e
14   15      e
15   16     ee
16   17    NaN
17   18      f
18   19      f
19   20      f

In [ ]:
data.describe()

            num
count  20.00000
mean   10.50000
std     5.91608
min     1.00000
25%     5.75000
50%    10.50000
75%    15.25000
max    20.00000

In [ ]:
data['letras']

0       a
1       b
2       c
3       a
4       b
5       c
6       a
7       b
8       c
9       a
10      b
11      d
12      e
13      e
14      e
15     ee
16    NaN
17      f
18      f
19      f
Name: letras, dtype: object

In [ ]:
data.dtypes

num        int64
letras    object
dtype: object

In [ ]:
data.loc[2:5]
new_data = data.loc[data['letras'] == 'a']

In [ ]:
data.isnull().sum()

num       0
letras    1
dtype: int64

In [ ]:
data.dropna(axis=0, inplace=True)

In [ ]:
tcc = {'notas': ['Adri','Ulisses','Pedro'],'Nota_1': [10,9,9]}

In [ ]:
tccDF = pd.DataFrame(tcc)

In [ ]:
filter = tccDF.loc[tccDF['Nota_1']>9]

In [ ]:
atletas=pd.read_csv('Forbes_atletas.csv')
atletas.head()

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0

In [ ]:
atletas['Nationality'].value_counts()

USA                 206
UK                   13
Germany              13
Switzerland          12
Portugal             10
Brazil                9
Argentina             9
Canada                6
Italy                 4
Finland               3
France                3
Philippines           3
Russia                1
Australia             1
Dominican             1
Austria               1
Filipino              1
Spain                 1
Serbia                1
Northern Ireland      1
Ireland               1
Mexico                1
Name: Nationality, dtype: int64

In [ ]:
atletas.dtypes

S.NO                      int64
Name                     object
Nationality              object
Current Rank              int64
Previous Year Rank       object
Sport                    object
Year                      int64
earnings ($ million)    float64
dtype: object

In [ ]:
missing_data = atletas.isnull().sum()
missing_data

S.NO                     0
Name                     0
Nationality              0
Current Rank             0
Previous Year Rank      24
Sport                    0
Year                     0
earnings ($ million)     0
dtype: int64

In [ ]:
y = atletas['earnings ($ million)']

In [ ]:
x = atletas
x.drop('earnings ($ million)', axis=1, inplace=True)

In [ ]:
x

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year
0,1,Mike Tyson,USA,1,NaN,boxing,1990
1,2,Buster Douglas,USA,2,NaN,boxing,1990
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990
4,5,Alain Prost,France,5,NaN,auto racing,1990
...,...,...,...,...,...,...,...
296,297,Stephen Curry,USA,6,9,Basketball,2020
297,298,Kevin Durant,USA,7,10,Basketball,2020
298,299,Tiger Woods,USA,8,11,Golf,2020
299,300,Kirk Cousins,USA,9,>100,American Football,2020
300,301,Carson Wentz,USA,10,>100,American Football,2020